.section {
    max-width: 600px;
    padding-bottom: 30px;
}

.bun {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 44vh;
    min-width: 584px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}

.list::-webkit-scrollbar {
    width: 8px;
    background: #2f2f37;
    margin-left: 8px;
}

.list::-webkit-scrollbar {
    width: 8px;
    background: #2f2f37;
    margin-left: 8px;
}

.item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}
  
.total {
    display: flex;
    align-items: baseline;
    padding-left: 200px ;
}
  
.info {
    display: flex;
    gap: 8px;
}
