.title {
    text-align: left;
}
.wrapper {
    display: flex;
}
.container {
    max-height: 68vh;
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 8px;
    margin-left: 8px;
    background: #2f2f37;
}

.container::-webkit-scrollbar-thumb {
    background: #8585ad;
}