.popup {
    position: relative;
    background-color: #1c1c21;
    border-radius: 40px;
    padding: 40px 40px 60px;
    box-sizing: border-box;
    max-height: 539px;

}

.title {
    min-width: 640px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    margin-bottom: 16px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    display: flex;
    gap: 20px;
}
