.header {
    margin: 0 auto;
    max-width: calc(100% );
    background-color: #1c1c21;
}
  
.nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}
  
.list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
 }

.account {
    justify-self: end;
  }
.link:hover, .link:hover svg {
    transition: -all .3s ease-in;
    color:#fff;
    fill: #fff;;
}

  /* .link:hover {
    color: #8585AD;
  }

  .link.active {
    color: #FFF;
  } */